.text{
  font-family: Poppins;
font-style: normal;
width:50%;
display:inline-block;
margin: 50px 100px 100px 300px;
}

.text h2{
  font-weight: 500;
font-size: 80px;
line-height: 67px;
color: #4063FF;
}

.text h1{
  font-weight: bold;
font-size: 80px;
line-height: 107px;
color: #000000;
width: 75%;
}

.text p{
  font-weight: 500;
font-size: 30px;
line-height: 37px;
color: #9A9A9A;
}

.actions{
  background: #4063FF;
border-radius: 15px;
border-style: none;
padding: 13px 82px;
margin: 45px 0 0 55px;
font-weight: 500;
font-size: 45px;
line-height: 52px;
color: #FFFFFF;

}

.image{
  width:710px;
  display:inline-block;
}
